:root {
  box-sizing: border-box;
  --primary: rgb(0, 0, 54.51);
  --hover-color: rgb(173, 216, 230);
  --dark: black;
  --light: white;
  --header-bg: var(--dark);
}

* {
  font-family: "Abril Fatface", cursive;
  font-family: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  /* overflow-x: hidden;
  max-width: 100vw; */
  scroll-behavior: smooth;
}

header {
  background: var(--header-bg);
  padding: 1% 2%;
  position: fixed;
  z-index: 50;
  width: 100vw;
}

.logo {
  width: 150px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.menu {
  display: flex;
  flex-direction: row;
}

.menu li {
  list-style: none;
}

.menu li a {
  display: block;
  text-decoration: none;
  color: var(--light);
  padding: 8px 10px;
  font-size: 15px;
}

/*styling submenu */
.has-dropdown {
  position: relative;
}

.submenu {
  z-index: 2;
  position: absolute;
  background-color: var(--dark);
  left: 0;
  white-space: nowrap;
  padding: 24px 0;
  width: 352px;

  /*hide submenu*/
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: top center;
}

.submenu > li > a {
  padding: 12.8px 24px;
}

.submenu .submenu {
  left: -100%;
  top: 0;
}

.submenu .submenu .submenu {
  left: -100%;
  top: 0;
}

.menu > li:hover > a,
.submenu > li:hover > a {
  background-color: hsla(0, 0%, 100%, 0.05);
  color: var(--hover-color);
}

.menu > li > a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--hover-color);
  display: block;
}

.menu > li:hover > a::after {
  width: 100%;
}

.arrow{
  width: 8px;
  height: 8px;
  display: inline-block;
  vertical-align: middle;
  border-left: 2.4px solid currentColor;
  border-bottom: 2.4px solid currentColor;
  transform: rotate(-45deg);
  margin-top: -4px;
  transition: transform 100ms ease-in-out;
}

/*Reveal */
.menu > li:hover > input + .submenu,
.submenu > li:hover > input + .submenu {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.show,
input {
  display: none;
}

/*Anitmate arrows*/

.menu > li:hover > a > .arrow,
.submenu > li:hover > a > .arrow {
  transform: rotate(225deg);
}

        /* Start of HERO section */
.slideshow{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow:hidden;
    background-color: #000;
}

.slideshow-item{
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: cycleImages 31s infinite;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
    animation-delay: 0s;
}

.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img{
    animation-delay: 10s;
}

.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img{
    animation-delay: 20s;
}

.slideshow-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 31s infinite;
}

.slideshow-item-text{
    width: 80%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 30px 50px;
}

.slideshow-item-text h5{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-align: center;
}

.slideshow-item-text p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
}

@keyframes cycleImages{
    25%{
        opacity: 1;
    }
    40%{
        opacity:0;
    }
}

@keyframes zoom {
    100%{
        transform: scale(1.3)
    }
}

@media screen and (max-width: 1000px) {
    .slideshow-item-text{
        max-width: 70%;  
        padding: 5rem 1rem;
    }
    .slideshot-item-text h5{
        font-size: 4rem;
    }
}

@media screen and (max-width: 767px) {
    .slideshow-item-text{
        max-width: 100%;
        padding: 2rem;
        top: initial;
        bottom: 0;
        transform: initial;
    }

    .slideshow-item-text h5 {
        font-size: 3rem;
    }
    .slideshow-item-text p{
        font-size: 1.4rem;
    }
}
         /* End of HERO section */

        /* Services section */
.services {
  display: grid;
  gap: 4vw;
}

.service {
      background-color: black;
      /* padding: 3vw 2vw 3vw 3vw; */
      /* display: grid; */
      gap: 1vw;
      border-radius: 1rem;
      transition: 0.2s ease-in-out;
      position: relative;
      height: 40vh;
       /* color: white; */
 }

.services_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
} 

.service:hover {
  box-shadow: rgba(161, 12, 117, 0.534) 0px 2px 4px 0px,
    rgba(18, 79, 105, 0.829) 0px 2px 16px 0px;
  transform: translateY(-10px);
}

.service_logo {
    /* height: 20vh; */
    height:100%;
    width: 100%;
}
.service img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.service_title {
  position: absolute;
  color: white;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary);
  width:100%;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;

}

.service_info {
  color: #c6c9d8;
  opacity: 100%;
}

.section {
  padding: 18vh 10vh;
  max-width: 100vw !important;
  max-width: 100vw !important;
  }

  .section_title_container  h2, .section_title, .section_info p {
    text-align: center;
  }

  .section_subtitle h5{
    text-align: center;
  }

  .description h2{
    text-align: center;
    margin: 20px;
  }
  .description_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* padding: 1px 10px; */
    gap: 50px;
  }


  .description{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    padding-bottom: 70px;
  }

  .description{
    background-color: #191919;
    color: white;
  }

  .description-text {
    display: grid;
    gap:10px;
  }

#skills-section h1 {
    margin-top: 20px;
    text-align: center;
}

.container {
    width: 90%; 
     /* margin: 20px auto;
    margin-bottom: 200px; */
    display: grid;
    gap: 40px;
}

.progress {
    width: 100%;
    height: 18px;
    background-color: var(--light);
   
}

.progress .progress-bar{
    width: 0%;
    opacity: 0;
    height: 100%;
    background-color: rgb(13, 98, 209);;
   
    position: relative;
    transition: all 1s;
}

.progress-bar span{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    /* width: 100%; */
}

    /* Projects */
.project h2{
  margin-top: 50px;
  text-align: center;
}
.swiper {
        width:70vw;
        height: 70vh;
        margin-top: 20px;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        position: relative;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      .swiper-text{
          position: absolute;
          background-color: rgba(0, 0, 0, 0.8);
          color:white;
          padding:20px 50px;
          
          bottom: 10%;
         
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

     /* Projects End */

.milestones {
  display: grid;
  gap: 4vw;
  
}

.milestones_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 60px;
    
  }

.milestone {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 5px;
      background-color: black;
      padding: 2.5vw;
      border-radius: 1rem;
      transition: 0.3s ease-in-out;   
    }

.milestone:hover {
  box-shadow: rgba(161, 12, 117, 0.534) 0px 2px 4px 0px,
    rgba(18, 79, 105, 0.829) 0px 2px 16px 0px;
  transform: translateY(-10px);
}

.milestone_info{
  color: #3d3c3c;
}

.milestone_number{
  font-size: 35px;
  color: white;
}

.milestone_icon img {
      height: 8vh;
  }


       /* footer */
footer{
  background-color: #191919; 
  padding-top: 80px; 
  z-index: 30;
 }


.footer_logo h3 {
  text-transform: uppercase;
  letter-spacing: 0.3vw;
}

.footer_logo  img {
  background-color: black;
  height: 16vh;
  padding: 4vh;
  /* border-radius: 10vw; */
}

.footer_logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;   
  margin: 50px;  
}

/* .footer_copyright p {   
  color: #757575;
  letter-spacing: 0.1vw;
  line-height: 4vh;
} */


.footer_copyright  {   
  padding-bottom: 20px;
}

.footer_copyright hr{
  background: #757575;
 
}

.footer_copyright p{
   color: #757575;
   letter-spacing: 0.1vw;
   line-height: 4vh;
   text-align: center;
    padding-top: 20px; 
}

.footer_brand {
  display: flex;
  flex-direction: column;
  gap: 2vw;    
}  

.footer_content {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  color: white;
  /* padding-top: 4vw; */
  gap:10px;
  padding-right: 50px;
}

.footer_links  h3 {
    margin-bottom: 4vh;
  }


/* .footer_links ul li:hover {
  --d: 100%;
 } */

.footer_links ul li {
  margin-bottom: 2vh;
  list-style-type: none;
  font-size: 1.2vw;
  cursor: pointer;
  padding-bottom: 1vh;
  color: #757575;
  }

.footer_links ul {
  display: inline-block;      
}

.footer_links h3:hover, .footer_links ul li:hover, 
.footer_links h4:hover, .footer_copyright p:hover{
  color: var(--hover-color);
}
.icons i:hover{
  background-color: var(--hover-color);
}

 .footer_social_links {
    display: flex;
    gap: 2vw;
    margin-top: 3vh;  
  }

.footer_social_links  img{
    height: 4vh;        
}

.footer_social_links  img  svg {
  color: white;
}

.fa-envelope, .fa-location-arrow {
  margin-right: 10px !important;
}

.fa{
  margin-right: 20px;
}
.fa-copyright{
  margin-right: initial;
}
.follower{
  margin-left: 30px;
}

/* Navigation media query */
@media (max-width: 700px) {
  .submenu {
    width: 90%;
    padding-top: 0px;
    left: 22px;
    text-align: center;
    z-index: 51;
    /* border-left: 1px solid var(--light); */
  }

  .submenu .menu-link-2 {
    padding-top: 0px;
  }

  header{
    position: fixed;
    padding: 22px 32px;
  }

  .menu{
    flex-flow: column;
    position: absolute;
    background: var(--dark);
    top: 72.8px;
    left: 0;
    right: 0;
    height: 130vh;
    font-size: 20px;

    /*hide menu*/
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
    transition: 200ms transform cubic-bezier(0.36, 0.4, 0.42, 1.48) 100ms,
      100ms opacity ease-in-out;
  }

  .menu > li > a {
    font-size: 18px;
    color: var(--light);
    background: var(--dark);
    text-align: center;
  }

  .menu .has-dropdown-1 > a {
    display: none;
  }

  .hamburger {
    width: 32px;
    height: 4px;
    display: block;
    background: var(--light);
    position: relative;
    cursor: pointer;
    transition: 0.2s transform ease-in-out;
  }

  .hamburger::after,
  .hamburger::before {
    content: "";
    position: absolute;
    left: 0;
    background: inherit;
    width: inherit;
    height: inherit;
    transition: 0.2s transform ease-in-out;
  }

  .hamburger::after {
    top: 10.4px;
  }

  .hamburger::before {
    bottom: 10.4px;
  }

  .close::after,
  close::before {
    top: 0;
    transition: 0.2s transform ease-in-out;
  }

  .close::before {
    display: none;
  }

  .close {
    transform: rotate(45deg);
    transition: 0.2s transform ease-in-out;
  }
  .close::after {
    transform: rotate(-90deg);
  }

  /*reveal menu*/
  input[type="checkbox"]:checked + .menu {
    position: absolute;
    opacity: 1;
    transform: scaleY(1);
    z-index: 1;
  }

  [id^="btn"]:checked + ul {
    position: absolute;
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
    z-index: 1;
  }

  .show {
    display: inline-block;
    color: white;
    font-size: 18px;
    margin-left: 10px;
    line-height: 70px;
    cursor: pointer;
    text-align: center;
    margin-top: 0px;
  }

  input {
    display: none;
  }

  .arrow {
    padding-left: 5px;
  }
}
