:root {
  box-sizing: border-box;
  --primary: rgb(0, 0, 54.51);
  --hover-color: rgb(173, 216, 230);
  --dark: black;
  --light: white;
  --header-bg: var(--dark);
}

* {
  font-family: "Abril Fatface", cursive;
  font-family: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

header {
  background: var(--header-bg);
  padding: 1% 2%;
  position: fixed;
  z-index: 1;
  width: 100vw;
}

.logo {
  width: 150px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu li {
  list-style: none;
}

.menu li a {
  display: block;
  text-decoration: none;
  color: var(--light);
  padding: 8px 10px;
  font-size: 15px;
}

/*styling submenu */
.has-dropdown {
  position: relative;
}

.submenu {
  z-index: 2;
  position: absolute;
  background-color: var(--dark);
  left: 0;
  white-space: nowrap;
  padding: 24px 0;
  width: 352px;

  /*hide submenu*/
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: top center;
}

.submenu > li > a {
  padding: 12.8px 24px;
}

.submenu .submenu {
  left: -100%;
  top: 0;
}

.submenu .submenu .submenu {
  left: -100%;
  top: 0;
}

.menu > li:hover > a,
.submenu > li:hover > a {
  background-color: hsla(0, 0%, 100%, 0.05);
  color: var(--hover-color);
}

.menu > li > a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--hover-color);
  display: block;
}

.menu > li:hover > a::after {
  width: 100%;
}

.arrow{
  width: 8px;
  height: 8px;
  display: inline-block;
  vertical-align: middle;
  border-left: 2.4px solid currentColor;
  border-bottom: 2.4px solid currentColor;
  transform: rotate(-45deg);
  margin-top: -4px;
  transition: transform 100ms ease-in-out;
}

/*Reveal */
.menu > li:hover > input + .submenu,
.submenu > li:hover > input + .submenu {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.show,
#input-hamburger, #btn {
  display: none;
}

/*Anitmate arrows*/

.menu > li:hover > a > .arrow,
.submenu > li:hover > a > .arrow {
  transform: rotate(225deg);
}


        /* footer */
footer{
  background-color: #191919; 
  padding-top: 80px; 
  z-index: 30;
 }


.footer_logo h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.footer_logo  img {
  background-color: black;
  height: 110px;
  padding: 30px;
}

.footer_logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;   
  margin: 50px;  
}


.footer_copyright  {   
  padding-bottom: 20px;
}

.footer_copyright hr{
  background: #757575;
 
}

.footer_copyright p{
   color: #757575;
   letter-spacing: 2px;
   text-align: center;
  padding-top: 20px; 
}

.footer_content {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  color: white;
  gap:10px;
  padding-right: 50px;
}

.footer_links  h3 {
    margin-bottom: 10px;
  }


.footer_links ul li {
  margin-bottom: 20px;
  list-style-type: none;
  cursor: pointer;
  color: #757575;
  }

  .footer_links ul li a{
    text-decoration: none;
    color: #757575;
  }
.footer_links ul {
  display: inline-block;      
}

.footer_links h3:hover, .footer_links ul li:hover,
 .footer_links ul li a:hover, 
.footer_links h4:hover, .footer_copyright p:hover{
  color: var(--hover-color);
}
.icons i:hover{
  background-color: var(--hover-color);
}

 .footer_social_links {
    display: flex;
    gap: 2vw;
    margin-top: 3vh;  
  }

.fa-envelope, .fa-location-arrow {
  margin-right: 10px !important;
}

.fa{
  margin-right: 20px;
}
.fa-copyright{
  margin-right: initial;
}
.follower{
  margin-left: 30px;
}

@media (max-width:970px) {
  footer{
  padding-top: 0px;
 
 }
  
  .footer_content {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 20px;   
    padding-right: initial; 
    text-align: center;
    place-items: center;
  }

  .footer_logo {
      gap: 10px;   
  }

  .follower{
    margin-left: 0px;
  }

  .follower-container{
    margin-bottom: 50px;
  }
}

@media (max-width:500px) {
  .footer_logo img {
    height: 70px;
    padding: 20px;
  }

  .address {
    display: flex;
    flex-direction: column;

  }
}
/* form */

.spacing {
  height: 70px;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.response_page p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}
.response_page{
    padding: 100px;
}





@media (max-width:500px){
    h1{
        font-size: 20px;
    }
   .response_page p {
    font-size: 20px;
  }
  .response_page{
    padding: 100px 50px;
}
}





/*media query for navigation*/

@media (max-width: 700px) {
  .submenu {
    width: 90%;
    padding-top: 0px;
    left: 22px;
    text-align: center;
    /* border-left: 1px solid var(--light); */
  }

  .submenu .menu-link-2 {
    padding-top: 0px;
  }

  header{
    position: fixed;
    padding: 22px 32px;
  }

  .menu{
    flex-flow: column;
    position: absolute;
    background: var(--dark);
    top: 72.8px;
    left: 0;
    right: 0;
    height: 130vh;
    font-size: 20px;

    /*hide menu*/
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
    transition: 200ms transform cubic-bezier(0.36, 0.4, 0.42, 1.48) 100ms,
      100ms opacity ease-in-out;
  }

  .menu > li > a {
    font-size: 18px;
    color: var(--light);
    background: var(--dark);
    text-align: center;
  }

  .menu .has-dropdown-1 > a {
    display: none;
  }

  .hamburger {
    width: 32px;
    height: 4px;
    display: block;
    background: var(--light);
    position: relative;
    cursor: pointer;
    transition: 0.2s transform ease-in-out;
  }

  .hamburger::after,
  .hamburger::before {
    content: "";
    position: absolute;
    left: 0;
    background: inherit;
    width: inherit;
    height: inherit;
    transition: 0.2s transform ease-in-out;
  }

  .hamburger::after {
    top: 10.4px;
  }

  .hamburger::before {
    bottom: 10.4px;
  }

  .close::after,
  close::before {
    top: 0;
    transition: 0.2s transform ease-in-out;
  }

  .close::before {
    display: none;
  }

  .close {
    transform: rotate(45deg);
    transition: 0.2s transform ease-in-out;
  }
  .close::after {
    transform: rotate(-90deg);
  }

  /*reveal menu*/
  input[type="checkbox"]:checked + .menu {
    position: absolute;
    opacity: 1;
    transform: scaleY(1);
    z-index: 1;
  }

  [id^="btn"]:checked + ul {
    position: absolute;
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
    z-index: 1;
  }

  .show {
    display: inline-block;
    color: white;
    font-size: 18px;
    margin-left: 10px;
    line-height: 70px;
    cursor: pointer;
    text-align: center;
    margin-top: 0px;
  }

  input {
    display: none;
  }

  .arrow {
    padding-left: 5px;
  }
}

